@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="~/Content/HinhAnh/Base/DangNhap.png">
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="/GiangVien/XuLyDangNhap" method="post">
                    <!-- Tên đăng nhập-->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="username" name="username" class="form-control form-control-lg"
                               placeholder="Enter your username" required />
                        <label class="form-label" for="username">Username</label>
                    </div>

                    <!-- Mật khẩu -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                               placeholder="Enter password" required />
                        <label class="form-label" for="password">Password</label>
                    </div>

		            @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger my-3" role="alert">
                            @TempData["Error"]
                        </div>
                    }


                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
