@model QL_LopHocTrucTuyen.Models.Chuong

<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="text-center">
                <h3 class="text-center text-danger mb-4">Bạn có chắc muốn xoá chương này?</h3>
                <em>(Các bài giảng của chương chương cũng sẽ bị xoá)</em>
            </div>
            <hr />
            <div class="mb-3">
                <strong>Tên chương:</strong>
                <p>@Model.TenChuong</p>
            </div>

            <div class="mb-3">
                <strong>Mô tả:</strong>
                <p>@Model.MoTa</p>
            </div>
            <hr />
            @using (Html.BeginForm("XuLyXoaChuong", "GiangVien", FormMethod.Post, new { @class = "text-center mt-3" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="machuong" value="@Model.MaChuong" />
                <div class="d-flex justify-content-center gap-3">
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                    <a href="#" class="btn btn-secondary btn-lg ms-2" data-bs-dismiss="modal">Quay lại danh sách</a>
                </div>
            }
        </div>
    </div>
</div>
